<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Great Route</title>
</head>
<body>
	<header th:fragment="header">
		<div id="cabecera" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<img th:src="@{/img/logoGreatRoute.PNG}" alt="Logo Great Route" />
		</div>
		<ul id="menu"
			class="nav nav-pills col-xs-12 col-sm-12 col-md-12 col-lg-12 " th:switch="${view}">
			<li th:if="${view}=='mapa'" class="active"><a th:href="@{/index}">Home</a></li>
			<li th:if="${view}=='misRutas'" class="active"><a th:href="@{/index}">Home</a></li>
			<li th:if="${view}=='mapa'" ><a id="borrar" href="#">Borrar</a></li>
			<li th:if="${view}=='mapa'" ><a id="exportar" href="#">Exportar</a></li>
			<li th:if="${view}=='mapa'" ><a id="imprimir" href="#">Imprimir</a></li>
			<li th:if="${view}=='mapa'"><a id="mis_rutas" th:href="@{/misRutas}">Mis rutas</a></li>
			<li th:if="${view}=='mapa'"  class="pull-right"><a>Usuario: <span
					th:text="${username}"></span></a></li>
			<li class="pull-right" th:if="${view}=='mapa'">
			<form id="desconectarse" th:action="@{/logout}" method="POST"><button class="button-logout" type="submit">Cerrar sesión</button></form></li>
			<li th:if="${view}=='misRutas'"  class="pull-right"><a>Usuario: <span
					th:text="${username}"></span></a></li>
			<li class="pull-right" th:if="${view}=='misRutas'">
			<form id="desconectarse" th:action="@{/logout}" method="POST"><button class="button-logout" type="submit">Cerrar sesión</button></form></li>
			<li th:if="${view}=='contacto'"><a id="registrarse" th:href="@{/public/registro}">Registrate</a></li>
			<li th:if="${view}=='contacto'" class="pull-left"><a id="mapaabierto" th:href="@{/public/index}">Crear ruta</a></li>
			<li th:if="${view}=='contacto'" class="active"><a th:href="@{/index}">Home</a></li>
			<li th:if="${view}=='login'"><a id="registrarse" th:href="@{/public/registro}">Registrate</a></li>
			<li th:if="${view}=='login'" class="pull-left"><a id="mapaabierto" th:href="@{/public/index}">Crear ruta</a></li>
			<li th:if="${view}=='registro'" class="pull-right"><a id="login" class="pull-right" th:href="@{/public/login}">Iniciar sesión</a></li>
			<li th:if="${view}=='registro'" class="pull-left"><a id="mapaabierto" th:href="@{/public/index}">Crear ruta</a></li>
			<li th:if="${view}=='registro'"><a id="contacto" th:href="@{/public/contacto}">Contacto</a></li>
			<li th:if="${view}=='mapaabierto'" ><a id="imprimir" href="#">Imprimir</a></li>
			<li th:if="${view}=='mapaabierto'" ><a id="borrar" href="#">Borrar</a></li>
			<li th:if="${view}=='mapaabierto'" class="pull-right" ><a id="contacto" th:href="@{/public/contacto}">Contacto</a></li>
			<li th:if="${view}=='mapaabierto'" class="pull-right"><a id="login" th:href="@{/public/login}">Iniciar sesión</a></li>
			<li th:if="${view}=='mapaabierto'" class="pull-right"><a id="registrarse" th:href="@{/public/registro}">Registrate</a></li>
			<li th:if="${view}=='login'"><a id="contacto" th:href="@{/public/contacto}">Contacto</a></li>
		</ul>
	</header>
</body>
</html>